.linkButton {
    color: var(--color-primary);
    border-radius: 2px;
    margin: 2px;
    border: 0px;
    background-color: var(--color-divider);
    transition: 250ms;
}

.linkButton:hover{
    background-color: var(--color-primary);
    font-weight: 700;
    color: var(--color-bg);
}

.tool-btn {
    transition: 250ms;
    display: inline;
    margin: 1px;
}