:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #eff1f5;
    --entry: #eff1f5;
    --primary: #5c5f77;
    --secondary: #6c6f85;
    --tertiary: #8c8fa1;
    --content: #4c4f69;
    --hljs-bg: #acb0be;
    --border: #dce0e8;
    --code-bg: #e6e9ef;
}

.dark {
    --entry: #313244;
    --theme: #1e1e2e;
    --primary: #bac2de;
    --secondary: #a6adc8;
    --tertiary: #9399b2;
    --content: #cdd6f4;
    --hljs-bg: #313244;
    --code-bg: #585b70;
    --border: #181825;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}