:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #eff1f5;
    --entry: #eff1f5;
    --primary: #5c5f77;
    --secondary: #6c6f85;
    --tertiary: #8c8fa1;
    --content: #4c4f69;
    --hljs-bg: #1e2030;
    --border: #dce0e8;
    --code-bg: #e6e9ef;
}

.dark {
    --entry: #363a4f;
    --theme: #24273a;
    --primary: #b8c0e0;
    --secondary: #a5adcb;
    --tertiary: #b8c0e0;
    --content: #cad3f5;
    --hljs-bg: #1e2030;
    --code-bg: #5b6078;
    --border: #181926;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
