$light-color-primary: #81a1c1; 
$light-color-secondary: #8fbcbb; 
$light-color-focus: #5e81ac; 
$light-color-mute: #434c5e; 
$light-color-font: #3b4252; 
$light-color-divider: #d8dee9; 
$light-color-bg: #eceff8;
$light-color-codebg: #d8dee9;

$dark-color-primary: #81a1c1; // https://irocore.com/aofuji/
$dark-color-secondary: #bab1df; // https://irocore.com/fujimurasaki/
$dark-color-focus: #e6e6e6; // https://irocore.com/shironezumi/
$dark-color-mute: #9ea1a3; // https://irocore.com/suzu-iro/
$dark-color-font: #eceff4; // https://irocore.com/gin-iro/
$dark-color-divider: #434c5e; // Discord
$dark-color-bg: #2e3440; // Discord
$dark-color-codebg: #434c5e; // GitHub